{% extends "base.html" %}

{% block title %}
QUIZ | Contact
{% endblock %}

{% block body %}
<div style="font-size: 30px; margin-top: 2rem;">
   You can contact me on social media:
</div>
<a href="https://www.birhanushimles716@gmail.com"><strong>Email</strong></a> <br>

{% endblock %}


{% block navbar%}
<li class="nav-item">
    <a href="/register" class="nav-link">
<!--<i class="nav-icon fas fa-tachometer-alt"></i> -->
      <p>
        Register
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/login" class="nav-link">
      <p>
        Login
      </p>
    </a>
  </li>
{% endblock %}